*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: rgb(168, 168, 168);
}

p{
    color: white;
    font-size: 42px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    margin-top: 30px;
}

ul {
    color: white;
    font-size: 42px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    margin-top: 30px;
}

.title {
    font-size: 80px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;

}

.box {
    background-color: rgb(168, 168, 168);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}

.box:hover {
    background-color: rgb(188, 187, 187);
}

.box .special {
    color: rgb(168, 168, 168);
}

.box :hover .speacial {
    font-weight: bold;
}

.container {
    background-color: rgb(168, 168, 168);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.boite1 {
    width: 45%;
    height: 400px;
    border: 2px solid rgb(168, 168, 168);

}

.boite1 img {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
}

.boite2 {
    width: 45%;
    height: 400px;
    border: 2px solid rgb(168, 168, 168);

}

.container2 {
    background-color: rgb(168, 168, 168);
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
}

.boite3 {
    width: 45%;
    height: 400px;
    border: 2px solid rgb(168, 168, 168);
}

.boite4 {
    width: 45%;
    height: 400px;
    border: 2px solid rgb(168, 168, 168);
}
    
    .boite4 img {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
}
     
.footer {
    padding-left: 0%;
    background-color: rgb(94, 94, 94);
    height : 100%;
    width: 100%;


}
.html body {
    scroll-behavior: smooth;
}
